<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/public.css'/>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
</head>
<body class="<%= className %>">
<header class="<%= className %>">
    <div class="button">
        <p>Home page</p>
    </div>
    <div class="button">
        <p>About Me</p>
    </div>
    <div class="button">
        <p>Projects page</p>
    </div>
    <div class="button">
        <p>Services page</p>
    </div>
    <div class="button">
        <p>Contact Me</p>
    </div>
    <% if(process.env.MODE === "production") { %>
        <p class="production"><span>Production</span></p>
    <% } else { %>
        <p class="production"><span>Staging</span></p>
    <% } %>
</header>
<div class="wrapper <%= className %>">
    <%- include(page);
    %>
</div>
<footer>
    <p>Ruslan Ibragimov &copy;</p>
    <p><a href="https://github.com/glad2os/express-portfolio-assignment">Github page</a></p>
</footer>
<script src="/js/public.js"></script>
</body>
</html>
